
.git
.github
.gitignore

node_modules
.pnpm-store
.yarn/cache

.prisma

dist
build
out
coverage
.coverage

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.env
.env.*
.aws
.npmrc

.vscode
.idea
.DS_Store
Thumbs.db

.cache
.turbo
.eslintcache

docker-compose*.yml
